  .App {
    min-height: 60vh;
  }

  .page-header {
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
  }

  .faq-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px;
  }

  h1 {
    text-align: center;
  }

  .react-tabs {
    margin-top: 20px;
  }

  .react-tabs__tab-list {
    display: flex;
    list-style: none;
    padding: 0;
    border-bottom: none;
    margin: 0;
  }

  .react-tabs__tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease;
  }

  .react-tabs__tab--selected {
    background-color: #ddd;
    border-radius: 0;
  }

  .faq-item {
    margin-top: 10px;
  }

  .faq-question {
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
  }

  .faq-question:hover {
    background-color: #ddd;
  }

  .faq-question.expanded {
    background-color: #ccc;
    border-radius: 5px 5px 0 0;
  }

  .faq-answer {
    background-color: #eee;
    padding: 10px;
    border-radius: 0 0 5px 5px;
  }

  .react-tabs__tab--selected:first-child,
  .react-tabs__tab:first-child {
    border-radius: 5px 0 0 5px;
  }

  .react-tabs__tab--selected:last-child,
  .react-tabs__tab:last-child {
    border-radius: 0 5px 5px 0;
  }